<footer class="footer">
	<nav class="footer__content">
		<a href="/" class="logo footer__logo">
		<img src="imgs/svarkov_logo-contrast.png"/>
	</a>
		<ul class="footer__navigation">
			<li><a href="/avtonavisy" class="typography__nav-link--contrast footer__link">
				Автомобільні навіси
			</a></li>
			<li><a href="/terasy" class="typography__nav-link--contrast footer__link">
				Навіси для тераси
			</a></li>
			<li><a href="/vorota-parkany" class="typography__nav-link--contrast footer__link">
				Ворота
			</a></li>
			<li><a href="/peryla" class="typography__nav-link--contrast footer__link">
				Перила
			</a></li>
			<li><a href="/shody" class="typography__nav-link--contrast footer__link">
				Сходи
			</a></li>
			<li><a href="/konstructsiyi" class="typography__nav-link--contrast footer__link">
				Металоконструкції
			</a></li>
		</ul>
		<address class="footer__address">
			<svg class="contact__icon" width="28" height="28">
				<use xlink:href="imgs/sprite.svg#icon-phone"></use>
			</svg>
			<div class="footer__link">
				<a href="tel:+380678770694" class="typography__nav-link--contrast">
					+38 067 877 06 94
				</a>
				<a href="tel:+380673236707" class="typography__nav-link--contrast">
					+38 067 323 67 07
				</a>
			</div>
			<svg class="contact__icon" width="25" height="25">
				<use xlink:href="imgs/sprite.svg#icon-mail"></use>
			</svg>
			<a href="mailto:svarkov.partner@gmail.com" class="typography__nav-link--contrast footer__link">
				svarkov.partner@gmail.com 
			</a>
			<div class="socials footer__link">
				<a href="https://www.instagram.com/svarkov.kiev?igsh=MWhxNzUzM282c3R5OQ%3D%3D&utm_source=qr" target="_blank" class="icon--button" href="javascript:void(0);">
					<svg class="socials__icon">
						<use xlink:href="imgs/sprite.svg#icon-instagram"></use>
					</svg>
				</a>
				<a href="https://www.facebook.com/SVARKOV/" target="_blank" class="icon--button" href="javascript:void(0);">
					<svg class="socials__icon">
						<use xlink:href="imgs/sprite.svg#icon-facebook"></use>
					</svg>
				</a>
				<a href="https://www.youtube.com/channel/UCWy-7h0OeEoKFmpgNqmvH7g" target="_blank" class="icon--button" href="javascript:void(0);">
					<svg class="socials__icon">
						<use xlink:href="imgs/sprite.svg#icon-youtube"></use>
					</svg>
				</a>
			</div>
		</address>
	</nav>
</footer>    
</body>
</html>