<!DOCTYPE html>
<html lang="uk">
  <head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="keywords" content="">

		<title>SVARKOV</title>
    <script defer src="js/main.ef1484109529.js"></script>
    <!-- <script defer src="js/plus.js"></script> -->
    <link href="css/main.5771979ce52c.css" rel="stylesheet">
	</head>
    <body class="grid">
      <header data-animation-show-up class="header">
				<a href="/" class="logo u-display--from-tab-land">
					<img src="imgs/svarkov_logo.png"/>
				</a>
			<div class="u-display--from-tab-land">
				<a href="tel:+380678770694" class="contact typography__nav-link">
					<svg class="contact__icon" width="28" height="28">
						<use xlink:href="imgs/sprite.svg#icon-phone"></use>
					</svg>
					+38 067 877 06 94
				</a>
				<a href="tel:+380673236707" class="contact typography__nav-link">
					<svg class="contact__icon" width="28" height="28">
						<use xlink:href="imgs/sprite.svg#icon-phone"></use>
					</svg>
					+38 067 323 67 07
				</a>
			</div>
			<a href="mailto:svarkov.partner@gmail.com" class="typography__nav-link contact u-display--from-desktop">
				<svg class="contact__icon" width="25" height="20">
					<use xlink:href="imgs/sprite.svg#icon-mail"></use>
				</svg>
				svarkov.partner@gmail.com
			</a>
			<!-- <form class="search">
				<svg class="search__icon">
					<use xlink:href="imgs/sprite.svg#icon-callback"></use>
				</svg>
				<input type="text" class="search__input" placeholder="Ваш телефон" id="phone-input" type="tel" pattern="^[\+]38[(][0-9]{3}[)][-][0-9]{3}[-][0-9]{4}$" />
				<button class="button--secondary search__button">Передзвоніть мені</button>
			</form> -->
			<div>
				<label for="navi-button" class="header__button u-display--from-tab-land">Меню</label>
			</div>
		</header>

    <input type="checkbox" id="navi-button" class="navigation__checkbox">


		<aside data-animation-side class="navigation navigation--init" id="scrollable">
			<label for="navi-button" class="navigation__button"><span>Меню</span></label>
			<div class="navigation__background"></div>
			
			<a href="/" class="logo navigation__logo">
				<img src="imgs/svarkov_logo.png"/>
			</a>
			<div class="navigation__contacts">
				<a href="mailto:svarkov.partner@gmail.com">
					<svg class="contact__icon" width="40" height="40">
						<use xlink:href="imgs/sprite.svg#icon-mail"></use>
					</svg>
				</a>
				<a href="tel:+380678770694">
					<svg class="contact__icon" width="48" height="48">
						<use xlink:href="imgs/sprite.svg#icon-phone"></use>
					</svg>
				</a>
			</div>
			<nav class="navigation__container">
				<ul class="navigation__case">
					<li class="navigation__item">
						<svg class="icon--outline navigation__icon">
							<use xlink:href="imgs/sprite.svg#icon-roof"></use>
						</svg>
						<a href="/avtonavisy">Автомобільні&nbsp;навіси</a>
					</li>
					<li class="navigation__item">
						<svg class="icon--outline navigation__icon">
							<use xlink:href="imgs/sprite.svg#icon-terrace"></use>
						</svg>
						<a href="/avtonavisy">Навіси&nbsp;для&nbsp;тераси</a>
					</li>
					<li class="navigation__item">
						<svg class="icon--outline navigation__icon">
							<use xlink:href="imgs/sprite.svg#icon-gates"></use>
						</svg>
						<a href="/vorota-parkany">Ворота</a>
					</li>
					<li class="navigation__item">
						<svg class="icon--outline navigation__icon">
							<use xlink:href="imgs/sprite.svg#icon-railing"></use>
						</svg>
						<a href="/peryla">Перила</a>
					</li>
					<li class="navigation__item">
						<svg class="icon--outline navigation__icon">
							<use xlink:href="imgs/sprite.svg#icon-stairs"></use>
						</svg>
						<a href="/shody">Сходи</a>
					</li>
					<li class="navigation__item">
						<svg class="icon--outline navigation__icon">
							<use xlink:href="imgs/sprite.svg#icon-metal"></use>
						</svg>
						<a href="/konstructsiyi">Металоконструкції</a>
					</li>
				</ul>
				<ul class="navigation__case">
				</ul>
			</nav>
		</aside>
 