<%- include('../includes/head.ejs') %>
 
    <section data-animation-show-up class="full-section section-greeting">	
			<video class="section-greeting__background-video" autoplay loop muted poster="imgs/greeting.jpg" playsinline>
				<source src="1d717b8e1a6998cec548.mp4" type="video/mp4">
			</video>	
			<video class="section-greeting__video" autoplay loop muted poster="imgs/greeting.jpg" playsinline>
				<source src="1d717b8e1a6998cec548.mp4" media="(max-width:480px)" type="video/mp4">
				<source src="ebe65c995053de637a1a.mp4" type="video/mp4">
		</section>

		<section class="full-section section-news">
			<h2 data-animation-show-up class="typography__h2">
				Галерея
			</h2>
			<div data-swiper-news class="swiper section-news__swiper">

				<div class="swiper-wrapper section-news__content">

					<div class="swiper-slide section-news__card">
						<div data-animation-slide-up data-filter="" class="card ">
							<div class="u-media-container card__media __media">
								<img src="imgs/navisy.jpg" alt="Навіс">
							</div>
							<a href="/avtonavisy" class="typography__h3 card__heading">
								Автомобільні навіси
							</a>
							<p class="typography__text card__text"></p>
							<a href="/avtonavisy" class="button--outlined card__action">Детальніше</a>
						</div>
				</div>

				<div class="swiper-slide section-news__card">
					<div data-animation-slide-up data-filter="" class="card ">
						<div class="u-media-container card__media __media">
							<img src="imgs/navisydlyaterasy.jpg" alt="Навіс">
						</div>
						<a href="/terasy" class="typography__h3 card__heading">
							Навіси для тераси
						</a>
						<p class="typography__text card__text"></p>
						<a href="/terasy" class="button--outlined card__action">Детальніше</a>	
					</div>
				</div>

				<div class="swiper-slide section-news__card">
					<div data-animation-slide-up data-filter="" class="card ">
						<div class="u-media-container card__media __media">
							<img src="imgs/vorota.jpg" alt="Навіс">
						</div>
							<a href="/vorota-parkany" class="typography__h3 card__heading">
							Ворота
						</a>
						<p class="typography__text card__text"></p>
						<a href="/vorota-parkany" class="button--outlined card__action">Детальніше</a>
					</div>
				</div>

				<div class="swiper-slide section-news__card">
					<div data-animation-slide-up data-filter="" class="card ">
						<div class="u-media-container card__media __media">
							<img src="imgs/peryla.jpg" alt="Навіс">
						</div>
						<a href="/peryla" class="typography__h3 card__heading">
							Перила
						</a>
						<p class="typography__text card__text"></p>
						<a href="/peryla" class="button--outlined card__action">Детальніше</a>
					</div>
				</div>

				<div class="swiper-slide section-news__card">
					<div data-animation-slide-up data-filter="" class="card ">
						<div class="u-media-container card__media __media">
							<img src="imgs/shody.jpg" alt="Навіс">
						</div>
							<a href="/shody" class="typography__h3 card__heading">
								Сходи
							</a>
							<p class="typography__text card__text"></p>
							<a href="/shody" class="button--outlined card__action">Детальніше</a>
					</div>
				</div>

				<div class="swiper-slide section-news__card">
					<div data-animation-slide-up data-filter="" class="card ">
						<div class="u-media-container card__media __media">
							<img src="imgs/metalokonstruktsiyi.jpg" alt="Навіс">
						</div>
						<a href="/konstructsiyi" class="typography__h3 card__heading">
							Металоконструкції
						</a>
						<p class="typography__text card__text"></p>
						<a href="/konstructsiyi" class="button--outlined card__action">Детальніше</a>
					</div>
				</div>
			</div>
		</div>
		<div data-swiper-pagination class="section-news__swiper-pagination"></div>
	</section>
	
	<section data-animation-scroll-self class="full-section">
		<div class="u-media-container section-team__background-video">
			<video autoplay loop muted poster="imgs/development_background.jpg" playsinline>
				<source src="3dcf42ed3377f43cf73e.mp4" media="(max-width:480px)" type="video/mp4">
				<source src="2142cf3dad1a0d6c18a7.webm" type="video/webm">
			</video>	
		</div>
		<div class="banner--reverse banner section-team">
			<h2 class="typography__h2--contrast banner__media">
				Команда професіоналів 
				<span class="u-highlight-text section-team__logo"> SVARKOV</span> – 
			</h2>
			<p data-animation-scroll class="typography__text--contrast typography__text--big banner__text">
				виробник якісних металоконструкцій для приватного та промислового будівництва вже понад 11 років у Києві та Київській області, а також здійснює доставку готової продукції по всій Україні.<br /><br />
				Ми виготовляємо:<br /><br />
				- зварні каркаси і кронштейни, підпорні балки і колонни, закладні деталі<br /><br />
				- металеві каркаси МАФів (ангари, навіси, автопарковки)<br /><br />
				- зварні конструкції внутрішніх і пожежних сходів, пандусів, огороджень<br /><br />
				- сходи на другому поверсі, ковані огородження і решітки<br /><br />
				- ковані вироби власного виробництва<br />
			</p>
			<!-- <a href="about-us#history" class="typography__text-btn--contrast banner__action u-arrow-after section-team__action">
				Про нас
			</a>	 -->
		</div>
	</section>

	<section data-animation-scroll-self class="center-section section-map-heading">
		<h2 class="typography__h2">
			Карта наших проєктів
		</h2>
	</section>

	<section data-animation-scroll-self class="full-section section-map section-gallery__swiper">
		<div class="banner--reverse section-map__container swiper">
			<div data-animation-scroll-item-up data-swiper-gallery class="section-map__container-background">
				<ul class="workouts--background swiper-wrapper section-gallery__swiper-wrapper">
				</ul>
			</div>
			<div class="banner__text section-map__description">
				<div data-animation-scroll-item-up data-swiper-gallery class="">
					<ul class="workouts swiper-wrapper section-gallery__swiper-wrapper">
					</ul>
				</div>
				<div class="section-gallery__controll">
					<div data-animation-scroll-item-up data-swiper-gallery-next class="swiper-button-next"></div>
					<div data-animation-scroll-item-up data-swiper-gallery-prev class="swiper-button-prev"></div>
				</div>
			</div>
			<div id="map" class="banner__media"></div>
		</div>
	</section>

	<section data-animation-scroll class="center-section section-why">

		<video class="section-why__background-video" autoplay loop muted playsinline>
			<source src="a6420789562de8b24f11.mp4" type="video/mp4">
		</video>	

		<h2 data-animation-scroll-item-side class="typography__h2 section-why__heading">
			Чому нас обирають?
		</h2>

		<div class="section-why__content">

			<figure data-animation-scroll-item-up class="fact-item section-why__item">
				<svg class="fact-item__icon fact-item__icon--1">
					<use xlink:href="imgs/sprite.svg#icon-clock"></use>
				</svg>
				<figcapture class="typography__text--big fact-item__description">
					<span class="u-highlight-text">Строки виготовлення</span>
					Середній термін виготовлення металоконструкцій від 7 до 20 робочих днів. На термін впливає складність проектування, наявність демонтажних та/або загальнобудівельних робіт та загальний об’єм замовлення.
				</figcapture>
			</figure>

			<figure data-animation-scroll-item-up class="fact-item section-why__item">
				<svg class="fact-item__icon fact-item__icon--3">
					<use xlink:href="imgs/sprite.svg#icon-hands"></use>
				</svg>
				<figcapture class="typography__text--big fact-item__description">
					<span class="u-highlight-text fact-item__heading">Якість та Гарантії</span>
					Ми працюємо за належним чином оформленим Договором. На якість нашої роботи, а також на антикорозійну обробку та покрівельний матеріал, чітко прописана Гарантія та її терміни відповідно до видів робіт.
				</figcapture>
			</figure>

			<figure data-animation-scroll-item-up class="fact-item section-why__item">
				<svg class="fact-item__icon fact-item__icon--4">
					<use xlink:href="imgs/sprite.svg#icon-compass"></use>
				</svg>
				<figcapture class="typography__text--big fact-item__description">
					<span class="u-highlight-text fact-item__heading">Професійне проектування</span>
					Наші проекти продумані до дрібниць професійними спеціалістами, що опираються на детальний розрахунок. У результаті їх роботи Ви можете отримати: детальні схеми для збирання конструкцій, ескізи та 3Д візуалізацію по своєму проекту.
				</figcapture>
			</figure>

			<figure data-animation-scroll-item-up class="fact-item section-why__item">
				<svg class="fact-item__icon fact-item__icon--2">
					<use xlink:href="imgs/sprite.svg#icon-price"></use>
				</svg>
				<figcapture class="typography__text--big fact-item__description">
					<span class="u-highlight-text fact-item__heading">Ціна</span>
					Кожен проект є індивідуальним зі своїми особливостями. Саме тому, ми готуємо детальний кошторис по реалізації проекту, що містить всі матеріали,  детальний опис складу робіт по виготовленню та перелік монтажних робіт.
				</figcapture>
			</figure>
		</div>
	</section>
	
<%- include('../includes/end.ejs') %>